<div class="center hero-unit">
  <h1>Welcome to Lets Brew It</h1>

  <h2>
    Meetups for 2-6 people to connect socially and professionally over coffee or beer!
  </h2>

  <%= link_to "Brew It!", signup_path, class: "btn btn-large btn-primary" %>
</div>
